NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

IKHOKHA_API_BASE_URL=https://api.ikhokha.com/public-api/v1
IKHOKHA_APP_ID=
IKHOKHA_APP_SECRET=
IKHOKHA_ENTITY_ID=
IKHOKHA_MODE=live

EMAIL_FROM=
RESEND_API_KEY=
